/* e2a.css */

/* ----------------
    ウェブページの基本的な設定
    ---------------- */
body {
    font-family: sans-serif;
    padding: 10px;
}

/* ----------------
    H1 のスタイル
    ---------------- */
h1 {
    color: blue;
    font-size: 2em;
}

/* ----------------
    H2 のスタイル
    ---------------- */
h2 {
    color: green;
    font-size: 1.5em;
}

/* ----------------
    P のスタイル
    ---------------- */
p {
    color: #333; /* 文字色: 濃い灰色 */
    font-size: 1em;
    /* 背景色をオレンジに変換 (追加) */
    background-color: orange;
}
}
